## Abass-Alesinloye Stage_B Graded Quiz
## Hamoye ID:  146eb423f281f000

In [19]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import  mean_squared_error
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [20]:
dataframe= pd.read_csv('energydata_complete.csv', encoding='latin-1')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

Removing Dates and Lights

In [21]:
dataframe =dataframe.drop(columns=['date', 'lights'])
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

Scaling with MinMaxScaler

In [22]:
#Loading the dataset as a normalized DataFrame with columns as columns of dataset

scaler = MinMaxScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(dataframe), columns = dataframe.columns)

To get features

In [23]:
features_df=scaled_df.drop(columns=['Appliances'])
features_df.head()

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

To get target

In [24]:
response_df=scaled_df['Appliances']
response_df.head()

0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

### For R-Squared for x=T2 and y=T6

Obtaining Sample of required data

In [25]:
sample = scaled_df[['T2', 'T6']]
sample.head()

         T2        T6
0  0.225345  0.381070
1  0.225345  0.375443
2  0.225345  0.367487
3  0.225345  0.363800
4  0.225345  0.361859

To reshape sample and assign to x and y

In [26]:
x = sample['T2'].values.reshape(-1,1)
y = sample['T6'].values.reshape(-1,1)

Splitting reshaped data into train and test sets

In [27]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=42)

Finding R-Squared for sample model

In [28]:

sample_model = LinearRegression()

sample_model.fit(xtrain, ytrain)

sample_pred_vals = sample_linear_model.predict(xtest)


r2_score = r2_score(ytest, sample_pred_vals)

print('R-squared =',(round(r2_score, 2)), 'to 2dp')

R-squared = 0.64 to 2dp

### For to Main Data

Splitting data into train and test sets

In [29]:
x_train, x_test, y_train, y_test = train_test_split(features_df, response_df, test_size = 0.3, random_state = 42)

Calling the linear Regression model

In [30]:
linear_model = LinearRegression()

Fitting the model to the training data

In [31]:
linear_model.fit(x_train, y_train)

LinearRegression()

Obtaining predictions

In [32]:
predicted_values = linear_model.predict(x_test)

FInding Mean Absolute Error (MAE)

In [33]:
mae = mean_absolute_error(y_test, predicted_values)

print('MAE =',(round(mae, 2)), 'to 2dp')

MAE = 0.05 to 2dp

Finding Residual Sum of Squares (RSS)

In [34]:
rss = np.sum(np.square(y_test - predicted_values))
print('RSS = ',(round(rss, 2)), 'to 2dp')

RSS =  45.35 to 2dp

FInding Root Mean Squared Error (RMSE)

In [35]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
print('RMSE = ',(round(rmse, 3)), 'to 3dp')

RMSE =  0.088 to 3dp

Finding Coefficient of Determination or R-Squared

In [36]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
print('R-squared = ',(round(r2_score, 2)), 'to 2dp')

R-squared =  0.15 to 2dp

Finding Lowest and Highest Feature Weights of Linear Model

In [37]:
#To obtain the weight of every feature as a dataframe per model using the function below
def for_weights_df(model, features_df, column_name):
    weights= pd.Series(model.coef_, index=features_df.columns)
    weights= pd.Series(model.coef_, index=features_df.columns).sort_values()
    weights_df=pd.DataFrame(weights).reset_index()
    weights_df.columns=['Features', column_name]
    return weights_df
#Calling weight function on linear_model
linear_model_weights_df = for_weights_df(linear_model, x_train, 'Linear_Model_Weight')
print(f"The Feature with the Lowest weight is {linear_model_weights_df.at[0,'Features']}")
print(f"The Feature with the Highest weight is {linear_model_weights_df.at[25,'Features']}")
linear_model_weights_df

The Feature with the Lowest weight is RH_2
The Feature with the Highest weight is RH_1

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

Performing RMSE on Ridge Regression having alpha value of 0.4

In [38]:
ridge_reg = Ridge(alpha=0.4)

ridge_reg.fit(x_train, y_train)

ridge_pred = ridge_reg.predict(x_test)

rmse = np.sqrt(mean_squared_error(y_test, ridge_pred))

print('RMSE = ',(round(rmse, 3)), 'to 3dp')
print('No Change in RMSE Value as it remains same')

RMSE =  0.088 to 3dp
No Change to RMSE Value

Lasso Regression with alpha value of 0.001

In [39]:
lasso_reg = Lasso(alpha=0.001)

lasso_reg.fit(x_train, y_train)

lasso_pred = lasso_reg.predict(x_test)

lasso_weights_df = for_weights_df(lasso_reg, x_train, 'Lasso_Weight')

print('4 non-zero feature weights which are: RH_out, RH_8, Windspeed, RH_1')

lasso_weights_df

4 Features have non-zero feature weights: RH_out, RH_8, Windspeed, RH_1

       Features  Lasso_Weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

New RMSE with Lasso Regression to 3dp

In [40]:
rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))

print('RMSE = ',(round(rmse, 3)), 'to 3dp')

RMSE =  0.094 to 3dp